body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #e0f7fa;
    color: #333;
}

header {
    background-color: #00bcd4;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin: 20